/*BEGIN PS4 White Controller Styling*/
.controller.ds4.white {
    background-image: url(https://github.com/Agodul/GPV-KYKS/blob/main/WEB/Black_SkinNo_Buttons.png);
}

.ds4.white.disconnected {
    background: url(ps4-assets/disconnected.svg);
}

.ds4.white .trigger {
    background-image: url(https://github.com/Agodul/GPV-KYKS/blob/main/WEB/Trigger_Pressed.png);
}

.ds4.white .bumper {
    background-image: url(https://github.com/Agodul/GPV-KYKS/blob/main/WEB/Bumper.png);
}

.ds4.white .touchpad.pressed {
    background-image: url(https://github.com/Agodul/GPV-KYKS/blob/main/WEB/Touchpad.png);
}

.ds4.white .back, .ds4 .start {
    background-image: url(https://github.com/Agodul/GPV-KYKS/blob/main/WEB/Start.png);
}

.ds4.white .button {
    background-image: url(https://github.com/Agodul/GPV-KYKS/blob/main/WEB/FaceButtons.png);
}

.ds4.white .stick {
    background-image: url(https://github.com/Agodul/GPV-KYKS/blob/main/WEB/Sticks.png);
}

.ds4.white .face {
    background-image: url(https://github.com/Agodul/GPV-KYKS/blob/main/WEB/Dpad.png);
}

/*END PS4 White Controller Styling*/
